-i https://pypi.org/simple
alphabet-detector==0.0.7
click==7.1.1
jellyfish==0.6.1
langdetect==1.0.8
nltk==3.5
numpy==1.18.3
pandas==0.23.0
pycountry-convert==0.7.2
pycountry==19.8.18
scikit-learn==0.22.2.post1
scipy==1.4.1
text-unidecode==1.2
tqdm==4.45.0
xgboost==1.0.2
